<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="project"
			 connectionString="Server=192.168.207.6;Database=laravel_cms;Uid=dev;Pwd=jtec2024;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>